mautrix
python-dotenv
sqlalchemy
pySmartDL
psycopg2-binary
telethon
cryptg
pyrogram
tgcrypto
requests
lxml
bs4
feedparser
apscheduler
AnilistPython 
reportlab
cloudscraper
img2pdf
aiofiles
ffmpeg-python
python-Levenshtein 
thefuzz
